<!-- ABOUT -->
<div id="about" class="grid sm:grid-cols-2 md:grid-cols-4 place-items-center card mt-0";> <!-- Section 1.2 Intro BEGINS-->
    <div class="p-5 sm:col-span-1 md:col-span-1 "> <!-- Profile Picture-->
        <img src="img/AKpp.png" alt="AK's profile picture" class="w-44">
    </div> 
    <div class="p-5 sm:col-span-1 md:col-span-3 border-l-2 border-headerBg"> <!-- About -->
        It is my strong belief that building technology is an Artform and the engineers are Artisans. We work continuously to hone our skills and take great pride in our Art. To the end that our Art can touch people's lives and help them thrive.
    </div>
</div> <!-- Section 1.2 Intro ENDS -->