<!-- ABOUT -->
<div id="about" class="grid grid-cols-4 place-items-center card mt-0";> <!-- Section 1.2 Intro BEGINS-->
    <div class="p-5 col-span-1 "> <!-- Profile Picture-->
        <img src="img/AKpp.png" alt="AK's profile picture" class="w-44">
    </div> 
    <div class="p-5 col-span-3 border-l-2 border-headerBg"> <!-- About -->
        Lorem ipsum dolor sit amet. Ut velit praesentium sed similique nisi et consectetur sequi. Vel sunt internos At rerum praesentium in officiis voluptatem eos atque omnis eum aliquid officiis. Id minima nemo ut nulla molestiae At reiciendis animi.
    </div>
</div> <!-- Section 1.2 Intro ENDS -->