<!-- Section 3 Hobbies BEGINS-->
<div id="hobbies" class="card mt-10"> 
    <div class="text-center pt-6 pb-2"> <!-- header -->
        <span class="text-headerBg font-bold"> HOBBIES </span>
    </div>
    <div> <!-- content -->
       <div class="grid grid-cols-3 place-items-center p-4"> <!-- Hobby Card -->
            <div class="col-span-1 p-2 align-middle">
                <img src="img/language.png" alt="language_image" class="w-48 block">
                <span class="block font-bold p-3 text-center">Languages</span>
            </div>
            <div class="col-span-2  border-b-2 border-headerBg"> 
                Lorem ipsum dolor sit amet. Ut velit praesentium sed similique nisi et consectetur sequi. Vel sunt internos At rerum praesentium in officiis voluptatem eos atque omnis eum aliquid officiis. Id minima nemo ut nulla molestiae At reiciendis animi.
            </div>
       </div> <!-- Hobby Card End -->

       <div class="grid grid-cols-3 place-items-center p-4"> <!-- Hobby Card -->
            <div class="col-span-2 border-b-2 border-headerBg"> 
                Lorem ipsum dolor sit amet. Ut velit praesentium sed similique nisi et consectetur sequi. Vel sunt internos At rerum praesentium in officiis voluptatem eos atque omnis eum aliquid officiis. Id minima nemo ut nulla molestiae At reiciendis animi.
            </div>
            <div class="col-span-1 p-2 align-middle">
                <img src="img/swimming.png" alt="swimming_image" class="w-48 block">
                <span class="block font-bold p-3 text-center">Swimming</span>
            </div>                        
        </div> <!-- Hobby Card End -->

        <div class="grid grid-cols-3 place-items-center p-4"> <!-- Hobby Card -->
            <div class="col-span-1 p-2 align-middle">
                <img src="img/sports.png" alt="sports_image" class="w-48 block">
                <span class="block font-bold p-3 text-center">Sports</span>
            </div>
            <div class="col-span-2 border-b-2 border-headerBg"> 
                Lorem ipsum dolor sit amet. Ut velit praesentium sed similique nisi et consectetur sequi. Vel sunt internos At rerum praesentium in officiis voluptatem eos atque omnis eum aliquid officiis. Id minima nemo ut nulla molestiae At reiciendis animi.
            </div>
        </div> <!-- Hobby Card End -->

    </div>                
</div> <!-- Section 3 ENDS -->
