<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AK's BIO</title>
    <link rel="stylesheet" href="styles.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
</head>
<body class="font-body overflow-x-hidden">
    <div class="pt-20  bg-tokyo-cityscape" id="main_wrapper"> <!-- Content Wrapper BEGINS -->

        <!-- Section 1.1 Nav BEGINS BIG SCREEN -->
        <div class="bg-headerBg text-headerTxt hidden sm:block w-full fixed top-0 z-20">
            <nav class="p-10 flex justify-between items-center h-20">
                <div class="pl-5">
                    <h1 class="font-fancy font-bold text-4xl nav_head_hover">
                        <a href="#about">
                            AK's Bio.
                        </a>
                    </h1>
                </div> 

                <!-- UL for big screen BEGINS-->
                <ul class="pr-10 sm:flex text-base hidden sm:visible text-right" id="big_menu">
                    <li class="pl-3"> 
                        <a href="#">
                            <span class="nav_hover">About</span>
                        </a>
                    </li>

                    <li class="pl-3">|</li>

                    <li class="pl-3"> 
                        <a href="#journey">
                            <span class="nav_hover">Journey</span>
                        </a> 
                    </li>

                    <li class="pl-3">|</li>

                    <li class="pl-3"> 
                        <a href="#skillset">
                            <span class="nav_hover">Skillset</span>
                        </a> 
                    </li>

                    <li class="pl-3">|</li>
                    

                    <li class="pl-3"> 
                        <a href="#portfolio">
                            <span class="nav_hover">Portfolio</span>
                        </a> 
                    </li>

                    <li class="pl-3">|</li>

                    <li class="pl-3"> 
                        <a href="#hobbies">
                            <span class="nav_hover">Hobbies</span>
                        </a> 
                    </li>

                    <li class="pl-3">|</li>

                    <li class="pl-3"> 
                        <a href="#contact">
                            <span class="nav_hover">Contact</span>
                        </a> 
                    </li>
                </ul>
                <!-- UL for big screen ENDS-->
            </nav>
            
        </div> <!-- Section 1.1 Nav ENDS -->



        <!-- NAVIGATION FOR SMALL SCREEN HERE BELOW -->


        <!-- Section 1.1 Nav BEGINS -->
        <div class="bg-headerBg text-headerTxt sm:hidden w-full fixed top-0 z-10">
            <nav class="p-10 flex justify-between items-center h-20">
                <div class="pl-5">
                    <h1 class="font-fancy font-bold text-4xl nav_head_hover">
                        <a href="#about">
                            AK's Bio.
                        </a>
                    </h1>
                </div> 
                
                <div class="inline pl-28" id="burger">
                    <i class="fas fa-bars icon-2x visible sm:invisible"></i>
                </div>

            
        </div> <!-- Section 1.1 Nav ENDS -->
        <div class="text-headerBg bg-headerTxt sm:hidden flex justify-center border-b-2 border-headerBg w-full fixed top-20 z-10">
            <!-- UL for small screen BEGINS -->
                <!-- <ul class="pr-10 text-base visible sm:hidden text-center uppercase" id="small_menu"> -->
                    <div class="hidden sm:hidden uppercase p-6 text-center" id="small_menu">
                                <div class="pb-2 border-b-2 border-headerBg">
                                    <a href="#about" class="nav_hover block">About</a>
                                </div>

                                <div class="pb-2 border-b-2 border-headerBg">
                                    <a href="#journey" class="nav_hover block">Journey</a>
                                </div>

                                <div class="pb-2 border-b-2 border-headerBg pt-2">
                                    <a href="#skillset" class="nav_hover block">Skillset</a>
                                </div>

                                <div class="pb-2 border-b-2 border-headerBg pt-2">
                                    <a href="#hobbies" class="nav_hover block">Hobbies</a>
                                </div>

                                <div class="pb-2 border-b-2 border-headerBg pt-2">
                                    <a href="#portfolio" class="nav_hover block">Portfolio</a>
                                </div> 

                                <div class="pb-2 pt-2">
                                    <a href="#contact" class="nav_hover block">Contact</a>
                                </div>
                    </div>
                <!-- </ul> -->
                <!-- UL for small screen ENDS-->
        </div>


        <main class="text-gray-600 relative">
            <!-- ABOUT -->
            <div id="about" class="grid sm:grid-cols-2 md:grid-cols-4 place-items-center card mt-0";> <!-- Section 1.2 Intro BEGINS-->
                <div class="p-5 sm:col-span-1 md:col-span-1 "> <!-- Profile Picture-->
                    <img src="img/AKpp.png" alt="AK's profile picture" class="w-44">
                </div> 
                <div class="p-5 sm:col-span-1 md:col-span-3 border-l-2 border-headerBg"> <!-- About -->
                    It is my strong belief that building technology is an Artform and the engineers are Artisans. We work continuously to hone our skills and take great pride in our Art. To the end that our Art can touch people's lives and help them thrive.
                </div>
            </div> 
            <!-- Section 1.2 Intro ENDS -->
           
            <div class="text-center"> 
                <span class="text-headerBg font-semibold">• • •</span>
            </div>    
            
            <!-- Section 1.9 JOURNEY BEGINS -->
            <div id="journey" class="card mt-10 p-14 pl-16 pr-16"> 
                <div class="text-center"><span class="text-headerBg font-bold"> THE JOURNEY </span></div>
                <div class="text-left p-4">

                    <br><br>

                    <div>
                        <div class="text-2xl text-pink-700 font-semibold inline">2010-2014 ..  </div>
                        For someone who started her career path with a <strong>B.Tech in Computer Science</strong>, the above sentiment was not easily arrived at. It was much like one of those typical Indian arranged marriages. For you see, my first love was English and studying languages in general. 
                        <br>
                        But admittedly, I did get to learn many languages.  C, C++, Java and Python in my college years. We even built a Facebook application for our final year project that could predict the user's personality based on his posts.  
                    </div>

                    <br><br>

                    <div class="text-center p-8"> 
                        <span class="text-headerBg"> •  •• • ••  • </span>
                    </div>  

                    <div class="pt-8">
                        <div class="text-2xl text-pink-700 font-semibold inline">2014-2017 ..  </div>
                        Then campus placement got me in<strong> Accenture, Chennai</strong> and once again I got to learn new languages - COBOL, JCL and CICS <strong>(Mainframes)</strong>. 
                        <br>
                        These 3 years found me designing, building, testing and maintaining new features along with production support for our <strong>Healthcare Insurance </strong>client. This provided me with a solid foundation and understanding of the Software Development cycle, collaboration across multiple teams, the protocols to follow and endless (but necessary) documentations. 
                    </div>

                    <br><br>

                    <div class="text-center p-8"> 
                        <span class="text-headerBg"> •  •• • ••  • </span>
                    </div>  

                    
                    <div class="pt-8">
                        <div class="text-2xl text-pink-700 font-semibold inline">2017-2019 ..  </div>
                        Change is the only constant and new opportunity came in the form of<strong> Deloitte, Hyderabad</strong>. It was once again a <strong>Healthcare Insurance and Mainframes</strong> combination. I was part of a reporting team - we had a few timed Jobs (Functions that the Mainframe OS runs) that processed client data and gave valuable performance insights. 
                        <br>
                        Originally a 3-person-effort over a week's time - and here I initiated an automation effort. Backed by a supportive lead, manager and talented team, we managed to almost completely automate this process - bringing it down to 1 person effort over 2-3 days.
                    </div>
                    

                    <br><br>

                    <div class="text-center p-8"> 
                        <span class="text-headerBg"> •  •• • ••  • </span>
                    </div>  


                    <div class="pt-8">
                        <div class="text-2xl text-pink-700 font-semibold inline">2019-2020 ..  </div>
                        Then came a 5-year itch. I wished to explore other career paths and set my eyes on being a <strong>Functional Consultant</strong>. I was also looking to experience a high paced challenging work environment. As the saying goes "A Calm Sea never made a Skilled Sailor". 
                        <br>
                        And my not-so-calm-sea, I did find, at<strong> HighRadius Corp., Hyderabad</strong>. And though my tenure here was short, I can confidently and proudly say that the Sea drowned me and brought me back to Life. 
                        <br><br>
                        At HighRadius, I had a reality check and arrived at a troubling conclusion – I had grown complacent over the years. I came to face my shortcomings and breaking points in the fast paced environment. But I also found great help and guidance from my amazing mentor - my Lead at HighRadius. That combined with my openness to feedback and learning, I was able to successfully retrospect, address and overcome those hurdles. And finally - one vast enterprise project - successfully delivered. 
                    </div>

                    <br><br>

                    <div class="text-center p-8"> 
                        <span class="text-headerBg"> •  •• • ••  • </span>
                    </div>  


                    <div class="pt-8">
                        <div class="text-2xl text-pink-700 font-semibold inline">2020-2021 ..  </div>
                        But the retrospection did not stop there. It led me to more questions than answers. And it was at this point I decided to take a break from work. Over the past year, I have come to understand and learn a lot of things about myself. I have also learnt to appreciate the simple joys in life, which I had previously taken for granted. Above all else, I realized it is okay to not have all the answers. It is okay to be imperfect. Quoting one of my favourite authors –<strong>“Journey before Destination”</strong>.
                    </div>

                    <br><br>

                    <div class="text-center p-8"> 
                        <span class="text-headerBg"> •  •• • ••  • </span>
                    </div>  


                    <div class="pt-8 pb-10">
                        <div class="text-2xl text-pink-700 font-semibold inline">2021 ~ ..  </div>
                        A happy consequence? I found my way back to Coding. Picked up<strong> Full Stack Web Development</strong> skills, specifically<strong> MERN Stack</strong>. And now ready for the next adventure that comes my way!
                    </div> 
                </div>
            </div>
            <!-- Section 1.9 JOURNEY ENDS -->
            
            <div class="text-center"> 
                <span class="text-headerBg font-semibold">• • •</span>
            </div>

            <div id="skillset"></div>
            <!-- Section 2 Skillset BEGINS-->
            <div class="card mt-10"> 
                <div class="text-center pt-6 pb-3"> <!-- header -->
                    <span class="text-headerBg font-bold"> SKILLSET </span>
                </div>
                <div class="grid sm:grid-cols-2 lg:grid-cols-4 p-4 text-center gap-2"> <!-- content -->
                <div class="text-center">
                        <div class="pb-2 font-semibold">                           
                            <span>Languages</span>
                        </div>
                        <ul class="grid sm:grid-cols-2 md:grid-cols-3 justify-center border-t-2 border-headerBg">
                            <li class="text-center pb-4">
                                <div class="inline pl-2 text-lg pb-2">  
                                    <img src="img/html5.png" alt="html icon" class="w-14 mx-auto">
                                </div>
                                <span class="text-xs font-semibold">HTML 5</span>
                            </li>
                            <li class="text-center pb-4">
                                <!-- <span>CSS</span> -->
                                <div class="inline pl-2">  
                                    <img src="img/css3.png" alt="css icon" class="w-14 mx-auto">
                                </div>
                                <span class="text-xs font-semibold">CSS 3</span>
                            </li>
                            <li class="text-center pb-4">
                                <!-- <span>JavaScript</span> -->
                                <div class="inline pl-2">  
                                    <img src="img/JS.png" alt="JS icon" class="w-14 mx-auto">
                                </div>
                                <span class="text-xs font-semibold">JavaScript</span>
                            </li>
                        </ul>
                </div>
                <div class="text-center">
                        <div class="font-semibold pb-2">
                            <span>Frameworks</span>
                        </div>
                        <ul class="grid sm:grid-cols-2 md:grid-cols-3 justify-center border-t-2 border-headerBg">
                            <li class="text-center pb-4">
                                <div class="inline pl-2">  
                                    <img src="img/bootstrap.png" alt="bootstrap icon" class="w-14 mx-auto">
                                </div>
                                <span class="text-xs font-semibold">Bootstrap</span>
                            </li>
                            <li class="text-center pb-4">
                                <div class="inline pl-2">  
                                    <img src="img/tailwindcss.png" alt="tailwind icon" class="w-14 mx-auto">
                                </div>
                                <span class="text-xs font-semibold">Tailwind CSS</span>
                            </li>
                            <li class="text-center pb-4">
                                <div class="inline pl-2">  
                                    <img src="img/react.png" alt="react icon" class="w-14 mx-auto">
                                </div>
                                <span class="text-xs font-semibold">React</span>
                            </li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <div class="font-semibold pb-2">
                            <span>Backend</span>
                        </div>
                        <ul class="grid sm:grid-cols-2 md:grid-cols-3 justify-center border-t-2 border-headerBg">
                            <li class="text-center pb-4">
                                <div class="inline pl-2">  
                                    <img src="img/mongodb.jpg" alt="mongodb icon" class="w-14 mx-auto">
                                </div>
                                <span class="text-xs font-semibold">MongoDB</span>
                            </li>
                            <li class="text-center pb-4">
                                <!-- <span>NodeJS</span> -->
                                <div class="inline pl-2">  
                                    <img src="img/nodejs.png" alt="nodeJS icon" class="w-14 mx-auto">
                                </div>
                                <span class="text-xs font-semibold">NodeJS</span>
                            </li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <div class="font-semibold pb-2">
                            <span>Others</span>                            
                        </div>
                        <ul class="grid sm:grid-cols-2 md:grid-cols-3 justify-center border-t-2 border-headerBg">
                            <li class="text-center pb-4">
                                <div class="inline pl-2">  
                                    <img src="img/git.png" alt="git icon" class="w-14 mx-auto">
                                </div>
                                <span class="text-xs font-semibold">Git</span>
                            </li>
                            <li class="text-center pb-4">
                                <div class="inline pl-2">  
                                    <img src="img/python.png" alt="python icon" class="w-14 mx-auto">
                                </div>
                                <span class="text-xs font-semibold">Python</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> 
            <!-- Section 2 SKILLSET ENDS -->

            <div class="text-center"> 
                <span class="text-headerBg font-semibold">• • •</span>
            </div>

            <div id="portfolio"></div>
            <!-- Section 4 Portfolio BEGINS-->
            <div class="card mt-10"> 
                <div class="text-center pt-7 pb-10"> <!-- header -->
                    <span class="text-headerBg font-bold"> PORTFOLIO </span>
                </div>
                <div> <!-- CAROUSEL CONTENT BEGINS -->
                    <div class="carousel relative rounded relative overflow-hidden shadow-xl">
                        <div class="carousel-inner relative overflow-hidden w-full">

                        <!--Slide 1-->
                        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
                            checked="checked">
                        <div class="carousel-item absolute opacity-0 text-left bg-portfolioBlue3">
                            <div class="pt-14 pl-12 pb-10"> 
                                <div>
                                <span class=" text-headerTxt font-bold">Project:</span>
                                <span class="pb-2 text-headerTxt font-semibold">
                                    <!-- <span class="text-sm"><i class="fas fa-dice-one 3x"></i></span> -->
                                    <a href="#" class="text-2xl font-fancy pl-2">AK's Bio</a>                                    
                                </span>
                                </div>
                                <span class=" text-headerTxt font-bold">Built with:</span>
                                <div class="inline text-headerTxt pr-8">
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/html5.png" alt="html icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/css3.png" alt="css icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/JS.png" alt="JS icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/tailwindcss.png" alt="tailwindcss icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/nodejs.png" alt="nodeJS icon" class="inline w-6">
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 text-center flex justify-center align-top">
                                <iframe class=" border-2 border-headerTxt" src="https://ak-bio.herokuapp.com/" 
                                    title="Portfolio_Item_1" height="450px" width="800px">
                                </iframe>
                            </div>                              
                        </div>
                        <!-- </div> -->
                        <label for="carousel-3"
                            class="control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:text-headerBg  leading-tight text-center z-10 inset-y-0 left-0 my-auto flex justify-center content-center"><i
                            class="fas fa-angle-left mt-3"></i></label>
                        <label for="carousel-2"
                            class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:text-headerBg  leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
                            class="fas fa-angle-right mt-3"></i></label>
                    
                        <!--Slide 2-->
                            <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                            <div class="carousel-item absolute opacity-0 text-left bg-portfolioBlue3">
                                <div class="pt-14 pl-12 pb-10"> 
                                <div>
                                    <span class=" text-headerTxt font-bold">Project:</span>
                                    <span class="pb-2 text-headerTxt font-semibold">
                                        <!-- <span class="text-sm"><i class="fas fa-dice-one 3x"></i></span> -->
                                        <a href="#" class="text-2xl font-fancy pl-2">WiP</a>                                    
                                    </span>
                                </div>
                                <span class=" text-headerTxt font-bold">Built with:</span>
                                <div class="inline text-headerTxt pr-8">
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/html5.png" alt="html icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/css3.png" alt="css icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/JS.png" alt="JS icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/tailwindcss.png" alt="tailwindcss icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/nodejs.png" alt="nodeJS icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/react.png" alt="react icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/mongodb.jpg" alt="mongodb icon" class="inline w-6">
                                    </div>
                                    </div>
                                </div>
                                <div class="p-4 text-center flex justify-center align-top">
                                <iframe class=" border-2 border-headerTxt" src="img/UC.jpeg" 
                                height="450px" width="800px" title="Portfolio_Item_2">
                                </iframe>
                                </div>                              
                            </div>
                        <!-- left right arrows -->
                        <label for="carousel-1"
                            class=" control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:text-headerBg leading-tight text-center z-10 inset-y-0 left-0 my-auto"><i
                            class="fas fa-angle-left mt-3"></i></label>
                        <label for="carousel-3"
                            class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:text-headerBg leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
                            class="fas fa-angle-right mt-3"></i></label>
                    
                        <!--Slide 3-->
                        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                            <div class="carousel-item absolute opacity-0 text-left bg-portfolioBlue3">
                                <div class="pt-14 pl-12 pb-10"> 
                                <div>
                                    <span class=" text-headerTxt font-bold">Project:</span>
                                    <span class="pb-2 text-headerTxt font-semibold">
                                        <a href="#" class="text-2xl font-fancy pl-2">WiP</a>                                    
                                    </span>
                                </div>
                                <span class=" text-headerTxt font-bold">Built with:</span>
                                <div class="inline text-headerTxt pr-8">
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/html5.png" alt="html icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/css3.png" alt="css icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/JS.png" alt="JS icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/tailwindcss.png" alt="tailwindcss icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/nodejs.png" alt="nodeJS icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/react.png" alt="react icon" class="inline w-6">
                                    </div>
                                    <div class="inline pl-2 text-lg">  
                                        <img src="img/mongodb.jpg" alt="mongodb icon" class="inline w-6">
                                    </div>
                                    </div>
                                </div>
                                <div class="p-4 text-center flex justify-center align-top">
                                <iframe class=" border-2 border-headerTxt" src="img/UC.jpeg" 
                                    height="450px" width="800px" title="Portfolio_Item_3">
                                </iframe>
                                </div>                              
                            </div>
                        <label for="carousel-2"
                            class="control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:text-headerBg leading-tight text-center z-10 inset-y-0 left-0 my-auto"><i
                            class="fas fa-angle-left mt-3"></i></label>
                        <label for="carousel-1"
                            class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:text-headerBg leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
                            class="fas fa-angle-right mt-3"></i></label>
                    
                        <!-- Add additional indicators for each slide-->
                            <ol class="carousel-indicators pt-7 pb-5">
                            <li class="inline-block mr-3">
                                <label for="carousel-1"
                                class="carousel-bullet cursor-pointer block text-4xl text-cardBg2 hover:text-headerBg">•</label>
                            </li>
                            <li class="inline-block mr-3">
                                <label for="carousel-2"
                                class="carousel-bullet cursor-pointer block text-4xl text-cardBg2 hover:text-headerBg">•</label>
                            </li>
                            <li class="inline-block mr-3">
                                <label for="carousel-3"
                                class="carousel-bullet cursor-pointer block text-4xl text-cardBg2 hover:text-headerBg">•</label>
                            </li>
                            </ol>
                        </div> <!-- carousel inner -->
                    </div> <!-- carousel relative -->
                </div> <!-- CAROUSEL CONTENT ENDS -->                
            </div> <!-- Section 4 PORTFOLIO ENDS -->


            <div class="text-center"> 
                <span class="text-headerBg font-semibold">• • •</span>
            </div> 

            <div id="hobbies"></div>
            <!-- Section 3 Hobbies BEGINS-->
            <div class="card mt-10 p-6"> 
                <div class="text-center pt-6 pb-2"> <!-- header -->
                    <span class="text-headerBg font-bold"> HOBBIES </span>
                </div>
                <div> <!-- content -->
                <div class="card_wrapper"> <!-- Hobby Card -->
                        <div class="card_item_image">
                            <img src="img/language.png" alt="language_image" class="w-48 block">
                            <span class="card_item_image_title">Languages</span>
                        </div>
                        <div class="card_item_content"> 
                            Languages are my first love. Programming and otherwise. To be able to understand a foreign language and communicate with natives is a wonderful thing. Even more wonderful is being able to enjoy movies and dramas, without the need for subtitles. 
                        </div>
                </div> <!-- Hobby Card End -->

                <!-- Hobby Card ANIME FOR SMALL -->
                <div class="sm:hidden card_wrapper">  
                        <div class="card_item_image">
                            <img src="img/anime.png" alt="anime_image" class="w-48 block">
                            <span class="card_item_image_title">Anime</span>
                        </div>                    
                        <div class="card_item_content"> 
                            Overcoming the need for subtitles was founded here. I grew up watching Animes and they have had a massive influence on my views and values. I am especially into "Shonen" genre (literal translation "boy"), which are mostly action and adventure. Some of my all time favourites are "HunterXHunter", "Fullmetal Alchemist: Brotherhood", "Sket Dance" and "Naruto". 
                        </div>    
                    </div> 
                    <!-- Hobby Card End -->

                    <!-- Hobby Card ANIME FOR LARGE -->
                    <div class="hidden card_wrapper"> 
                        <div class="hidden sm:block card_item_content"> 
                            Overcoming the need for subtitles was founded here. I grew up watching Animes and they have had a massive influence on my views and values. I am especially into "Shonen" genre (literal translation "boy"), which are mostly action and adventure. Some of my all time favourites are "HunterXHunter", "Fullmetal Alchemist: Brotherhood", "Sket Dance" and "Naruto". 
                        </div>
                        <div class="hidden sm:block card_item_image">
                            <img src="img/anime.png" alt="anime_image" class="w-48 block">
                            <span class="card_item_image_title">Anime</span>
                        </div>    
                    </div> 
                    <!-- Hobby Card End -->

                    <div class="card_wrapper"> <!-- Hobby Card -->
                        <div class="card_item_image">
                            <img src="img/sports.png" alt="sports_image" class="w-48 block">
                            <span class="card_item_image_title">Sports</span>
                        </div>
                        <div class="card_item_content"> 
                            "Up for a game?" would always get a "Oh, yes!" from me. I enjoy playing all kinds of sports. Especially team sports like volleyball. Even with games like badminton and table tennis, I like the doubles version more than singles. Something about fighting together as a team and bringing out each other's best side gets me hooked.
                        </div>
                    </div> <!-- Hobby Card End -->

                </div>                
            </div> <!-- Section HOBBIES ENDS -->


            
            <div class="text-center"> 
                <span class="text-headerBg font-semibold">• • •</span>
            </div>

            <div id="miscellaneous" class="card mt-10 p-5"> 
                <div class="text-center pt-2 pb-2">
                    <span class="text-headerBg font-bold"> LIKE WHAT YOU SEE? </span>
                </div>
                <div> 
                    If you like this webpage and would like to collaborate, please do reach out to me at the contact below. Even if you didn't like it much, please do reach out with your feedback! Or you simply feel like we could be good friends, then definitely drop a message! Cheers!!
                </div>                
            </div>
            

        </main>
        
        <footer class="bg-headerBg text-headerTxt p-6" id="contact"> 
            <div class="text-center"> <!-- Footer Wrapper BEGINS -->
                <div>
                    <ul class="flex justify-center pb-5">
                        <!-- <li class="pl-2"> 
                            |
                        </li> -->
                        <li class="pl-7 pr-7">
                            <a href="https://github.com/AKira-Stardust" target="_blank">
                                <i class="icon-github-sign icon-2x footer_hover"></i>
                            </a>
                        </li>
                        <!-- <li class="pl-2"> 
                            |
                        </li> -->
                        <li class="pl-7 pr-7">
                            <a href="https://www.linkedin.com/in/archana-kumar-007" target="_blank">
                                <i class="icon-linkedin icon-2x footer_hover"></i>
                            </a>
                        </li>
                        <li class="pl-7 pr-7">
                            <a href="https://www.instagram.com/archana_akira/" target="_blank">
                                <i class="icon-instagram icon-2x footer_hover"></i>
                            </a>
                        </li>
                        <li class="pl-7 pr-7">
                            <a href="mailto:archanakumar1808@gmail.com" target="_blank">
                                <i class="fas fa-envelope icon-2x footer_hover"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <span class="block text-xs">
                    Copyright &copy; AK 2021
                </span>
            </div> <!-- Footer Wrapper ENDS -->
        </footer>
    </div> <!-- Content Wrapper ENDS -->
</body>
<script src="index.js"></script>
</html>