<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AK's BIO</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="font-body">
    <div> <!-- Content Wrapper BEGINS -->

        <div class="bg-headerBg text-headerTxt"> <!-- Section 1.1 Nav BEGINS -->
            <nav class="p-10 flex justify-between items-center">
                <div class="pl-5">
                    <h1 class="font-fancy font-bold text-4xl">
                        <a href="#about">
                            AK's Bio.
                            <!-- <div class="border-2 border-headerTxt p-2"> 
                                <span>AK's</span>
                                <span class="block">Bio.</span>
                            </div> -->
                        </a>
                    </h1>
                </div>
                <ul class="pr-10 flex text-lg">
                    <li class="pl-3"> 
                        <a href="#">
                            <span class="border-b-2">About</span>
                        </a> 
                    </li>
                    <li class="pl-3">|</li><li class="pl-3"> 
                        <a href="#skillset">
                            <span>Skillset</span>
                        </a> 
                    </li>
                    <li class="pl-3">|</li><li class="pl-3"> 
                    <li class="pl-3"> 
                        <a href="#hobbies">
                            <span>Hobbies</span>
                        </a> 
                    </li>
                    <li class="pl-3">|</li><li class="pl-3"> 
                    <li class="pl-3"> 
                        <a href="#portfolio">
                            <span>Portfolio</span>
                        </a> 
                    </li>
                    <li class="pl-3">|</li><li class="pl-3"> 
                    <li class="pl-3"> 
                        <a href="#contact">
                            <span>Contact</span>
                        </a> 
                    </li>
                </ul>
            </nav>
        </div> <!-- Section 1.1 Nav ENDS -->
        <main class="text-gray-600">
            <div id="about" class="grid grid-cols-4 place-items-center card mt-0";> <!-- Section 1.2 Intro BEGINS-->
                <div class="p-5 col-span-1 "> <!-- Profile Picture-->
                    <img src="img/AKpp.png" alt="AK's profile picture" class="w-44">
                </div> 
                <div class="p-5 col-span-3 border-l-2 border-headerBg"> <!-- About -->
                    Lorem ipsum dolor sit amet. Ut velit praesentium sed similique nisi et consectetur sequi. Vel sunt internos At rerum praesentium in officiis voluptatem eos atque omnis eum aliquid officiis. Id minima nemo ut nulla molestiae At reiciendis animi.
                </div>
            </div> <!-- Section 1.2 Intro ENDS -->

            <div class="text-center"> 
                <span class="text-headerBg font-semibold"> * * * </span>
            </div>

            <div id="skillset" class="card mt-10"> <!-- Section 2 Skillset BEGINS-->
                <div class="text-center pt-2 pb-2"> <!-- header -->
                    <span class="border-b-2 border-headerBg"> SKILLSET </span>
                </div>
                <div class="grid grid-cols-4 p-4 text-center"> <!-- content -->
                   <div class="text-center">
                        <div class="font-bold">Languages</div>
                        <ul class="">
                            <li>
                                <span>HTML</span>
                                <div class="inline">
                                </div>
                            </li>
                            <li>
                                <span>CSS</span>
                                <div class="inline">
                                </div>
                            </li>
                            <li>
                                <span>JavaScript</span>
                                <div class="inline">
                                </div>
                            </li>
                            <li>
                                <span>NodeJS</span>
                                <div class="inline">
                                </div>
                            </li>
                        </ul>
                   </div>
                   <div class="">
                        <div class="font-bold">Frameworks</div>
                        <ul>
                            <li>Bootstrap</li>
                            <li>Tailwind CSS</li>
                            <li>React</li>
                            <li>Express</li>
                        </ul>
                    </div>
                    <div >
                        <div class="font-bold">Backend</div>
                        <ul>
                            <li>MongoDB</li>
                            <li>Mongoose</li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div>
                        <div class="font-bold">Others</div>
                        <ul>
                            <li>Git</li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- Section 2 ENDS -->

            <div class="text-center"> 
                <span class="text-headerBg font-semibold"> * * * </span>
            </div>

            <div id="hobbies" class="card mt-10"> <!-- Section 3 Hobbies BEGINS-->
                <div class="text-center pt-2 pb-2"> <!-- header -->
                    <span class="border-b-2 border-headerBg"> HOBBIES </span>
                </div>
                <div> <!-- content -->
                    Lorem ipsum dolor sit amet. Ut velit praesentium sed similique nisi et consectetur sequi. Vel sunt internos At rerum praesentium in officiis voluptatem eos atque omnis eum aliquid officiis. Id minima nemo ut nulla molestiae At reiciendis animi.
                </div>                
            </div> <!-- Section 3 ENDS -->
 
            <div class="text-center"> 
                <span class="text-headerBg font-semibold"> * * * </span>
            </div>           

            <div id="portfolio" class="card mt-10"> <!-- Section 4 Portfolio BEGINS-->
                <div class="text-center pt-2 pb-2"> <!-- header -->
                    <span class="border-b-2 border-headerBg"> PORTFOLIO </span>
                </div>
                <div> <!-- content -->
                    Lorem ipsum dolor sit amet. Ut velit praesentium sed similique nisi et consectetur sequi. Vel sunt internos At rerum praesentium in officiis voluptatem eos atque omnis eum aliquid officiis. Id minima nemo ut nulla molestiae At reiciendis animi.
                </div>                
            </div> <!-- Section 4 ENDS -->
 
            <div class="text-center"> 
                <span class="text-headerBg font-semibold"> * * * </span>
            </div>           

            <div id="miscellaneous" class="card mt-10"> <!-- Section 5 BEGINS-->
                <div class="text-center pt-2 pb-2"> <!-- header -->
                    <span class="border-b-2 border-headerBg"> MISCELLANEOUS </span>
                </div>
                <div> <!-- content -->
                    Lorem ipsum dolor sit amet. Ut velit praesentium sed similique nisi et consectetur sequi. Vel sunt internos At rerum praesentium in officiis voluptatem eos atque omnis eum aliquid officiis. Id minima nemo ut nulla molestiae At reiciendis animi.
                </div>                
            </div> <!-- Section 5 ENDS -->

        </main>
    </div> <!-- Content Wrapper ENDS -->
</body>

<footer class="bg-headerBg text-headerTxt p-6"> 
    <div class="text-center"> <!-- Footer Wrapper BEGINS -->
        <div id="contact">
            <ul class="flex justify-center pb-5">
                <li class="">
                    <a href="#">LinkedIn</a>
                </li>
                <li class="pl-2"> 
                    |
                </li>
                <li class="pl-2">
                    <a href="#">GitHub</a>
                </li>
                <li class="pl-2"> 
                    |
                </li>
                <li class="pl-2">
                    <a href="#">Instagram</a>
                </li>
                <li class="pl-2"> 
                    |
                </li>
                <li class="pl-2">
                    <a href="#">Mail</a>
                </li>
            </ul>
        </div>
        <span class="block text-xs">
            Copyright &copy; AK 2021
        </span>
    </div> <!-- Footer Wrapper ENDS -->
</footer>
</html>