            <div id="miscellaneous" class="card mt-10 p-5"> 
                <div class="text-center pt-2 pb-2">
                    <span class="text-headerBg font-bold"> MISCELLANEOUS </span>
                </div>
                <div> 
                    Lorem ipsum dolor sit amet. Ut velit praesentium sed similique nisi et consectetur sequi. Vel sunt internos At rerum praesentium in officiis voluptatem eos atque omnis eum aliquid officiis. Id minima nemo ut nulla molestiae At reiciendis animi.
                </div>                
            </div>