 <!-- Section 1.1 Nav BEGINS -->
<div class="bg-headerBg text-headerTxt">
    <nav class="p-10 flex justify-between items-center">
        <div class="pl-5">
            <h1 class="font-fancy font-bold text-4xl">
                <a href="#about">
                    AK's Bio.
                    <!-- <div class="border-2 border-headerTxt p-2"> 
                        <span>AK's</span>
                        <span class="block">Bio.</span>
                    </div> -->
                </a>
            </h1>
        </div>
        <ul class="pr-10 flex text-lg">
            <li class="pl-3"> 
                <a href="#">
                    <span class="border-b-2">About</span>
                </a> 
            </li>
            <li class="pl-3">|</li><li class="pl-3"> 
                <a href="#skillset">
                    <span>Skillset</span>
                </a> 
            </li>
            <li class="pl-3">|</li><li class="pl-3"> 
            <li class="pl-3"> 
                <a href="#hobbies">
                    <span>Hobbies</span>
                </a> 
            </li>
            <li class="pl-3">|</li><li class="pl-3"> 
            <li class="pl-3"> 
                <a href="#portfolio">
                    <span>Portfolio</span>
                </a> 
            </li>
            <li class="pl-3">|</li><li class="pl-3"> 
            <li class="pl-3"> 
                <a href="#contact">
                    <span>Contact</span>
                </a> 
            </li>
        </ul>
    </nav>
</div> <!-- Section 1.1 Nav ENDS -->