 <!-- Section 1.1 Nav BEGINS BIG SCREEN -->
<div class="bg-headerBg text-headerTxt hidden sm:block">
    <nav class="p-10 flex justify-between items-center">
        <div class="pl-5">
            <h1 class="font-fancy font-bold text-4xl nav_head_hover">
                <a href="#about">
                    AK's Bio.
                </a>
            </h1>
        </div> 

        <!-- UL for big screen BEGINS-->
        <ul class="pr-10 sm:flex text-base hidden sm:visible text-right" id="big_menu">
            <li class="pl-3"> 
                <a href="#">
                    <span class="nav_hover">About</span>
                </a>
            </li>

            <li class="pl-3">|</li>

            <li class="pl-3"> 
                <a href="#skillset">
                    <span class="nav_hover">Skillset</span>
                </a> 
            </li>

            <li class="pl-3">|</li>

            <li class="pl-3"> 
                <a href="#hobbies">
                    <span class="nav_hover">Hobbies</span>
                </a> 
            </li>

            <li class="pl-3">|</li>

            <li class="pl-3"> 
                <a href="#portfolio">
                    <span class="nav_hover">Portfolio</span>
                </a> 
            </li>

            <li class="pl-3">|</li>

            <li class="pl-3"> 
                <a href="#contact">
                    <span class="nav_hover">Contact</span>
                </a> 
            </li>
        </ul>
        <!-- UL for big screen ENDS-->
    </nav>
    
</div> <!-- Section 1.1 Nav ENDS -->



<!-- NAVIGATION FOR SMALL SCREEN HERE BELOW -->


<!-- Section 1.1 Nav BEGINS -->
<div class="bg-headerBg text-headerTxt sm:hidden">
    <nav class="p-10 flex justify-between items-center">
        <div class="pl-5">
            <h1 class="font-fancy font-bold text-4xl nav_head_hover">
                <a href="#about">
                    AK's Bio.
                </a>
            </h1>
        </div> 
        
        <div class="inline pl-28" id="burger">
            <i class="fas fa-bars icon-2x visible sm:invisible"></i>
        </div>

       
</div> <!-- Section 1.1 Nav ENDS -->
<div class="text-headerBg bg-headerTxt sm:hidden flex justify-center border-b-2 border-headerBg">
     <!-- UL for small screen BEGINS -->
        <!-- <ul class="pr-10 text-base visible sm:hidden text-center uppercase" id="small_menu"> -->
            <div class="hidden sm:hidden uppercase p-6 text-center" id="small_menu">
                        <div class="pb-2 border-b-2 border-headerBg">
                            <a href="#" class="nav_hover block">About</a>
                        </div>

                        <div class="pb-2 border-b-2 border-headerBg pt-2">
                            <a href="#" class="nav_hover block">Skillset</a>
                        </div>

                        <div class="pb-2 border-b-2 border-headerBg pt-2">
                            <a href="#" class="nav_hover block">Hobbies</a>
                        </div>

                        <div class="pb-2 border-b-2 border-headerBg pt-2">
                            <a href="#" class="nav_hover block">Portfolio</a>
                        </div> 

                        <div class="pb-2 pt-2">
                            <a href="#" class="nav_hover block">Contact</a>
                        </div>
            </div>
        <!-- </ul> -->
        <!-- UL for small screen ENDS-->
</div>