 <!-- Section 1.1 Nav BEGINS -->
<div class="bg-headerBg text-headerTxt">
    <nav class="p-10 flex justify-between items-center">
        <div class="pl-5">
            <h1 class="font-fancy font-bold text-4xl nav_head_hover">
                <a href="#about">
                    AK's Bio.
                </a>
            </h1>
        </div> 
        
        <div class="inline pl-28" id="burger">
            <i class="fas fa-bars icon-2x visible sm:invisible"></i>
        </div>

        <ul class="pr-10 sm:flex text-base invisible sm:visible text-right" id="menu">

            <li class="pl-3"> 
                <a href="#">
                    <span class="nav_hover">About</span>
                </a>
            </li>

            <li class="pl-3 invisible sm:visible">|</li>

            <li class="pl-3"> 
                <a href="#skillset">
                    <span class="nav_hover">Skillset</span>
                </a> 
            </li>

            <li class="pl-3 invisible sm:visible">|</li>

            <li class="pl-3"> 
                <a href="#hobbies">
                    <span class="nav_hover">Hobbies</span>
                </a> 
            </li>

            <li class="pl-3 invisible sm:visible">|</li>

            <li class="pl-3"> 
                <a href="#portfolio">
                    <span class="nav_hover">Portfolio</span>
                </a> 
            </li>

            <li class="pl-3 invisible sm:visible">|</li>

            <li class="pl-3"> 
                <a href="#contact">
                    <span class="nav_hover">Contact</span>
                </a> 
            </li>

        </ul>
    </nav>
    
</div> <!-- Section 1.1 Nav ENDS -->