<!-- Section 4 Portfolio BEGINS-->
<div id="portfolio" class="card mt-10"> 
    <div class="text-center pt-7 pb-10"> <!-- header -->
        <span class="border-b-2 border-headerBg"> PORTFOLIO </span>
    </div>
    <div> <!-- CAROUSEL CONTENT BEGINS -->
        <div class="carousel relative rounded relative overflow-hidden shadow-xl">
            <div class="carousel-inner relative overflow-hidden w-full">

              <!--Slide 1-->
              <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
                checked="checked">
              <div class="carousel-item absolute opacity-0 text-left bg-headerBg">
                  <div class="pt-14 pl-12 pb-10"> 
                    <div>
                      <span class=" text-headerTxt font-bold">Project:</span>
                      <span class="pb-2 text-headerTxt font-semibold">
                          <!-- <span class="text-sm"><i class="fas fa-dice-one 3x"></i></span> -->
                          <a href="#" class="text-2xl font-fancy pl-2">AK's Bio</a>                                    
                      </span>
                    </div>
                    <span class=" text-headerTxt font-bold">Built with:</span>
                    <span class="inline text-headerTxt">
                        <div class="inline pl-2 text-lg">  
                            <img src="img/html5.png" alt="html icon" class="inline w-6">
                        </div>
                        <div class="inline pl-2 text-lg">  
                            <img src="img/css3.png" alt="css icon" class="inline w-6">
                        </div>
                        <div class="inline pl-2 text-lg">  
                            <img src="img/JS.png" alt="JS icon" class="inline w-6">
                        </div>
                        <div class="inline pl-2 text-lg">  
                            <img src="img/tailwindcss.png" alt="tailwindcss icon" class="inline w-6">
                        </div>
                        <div class="inline pl-2 text-lg">  
                            <img src="img/nodeJS.png" alt="nodeJS icon" class="inline w-6">
                        </div>
                    </span>
                  </div>
                  <div class="p-4 text-center flex justify-center align-top">
                    <iframe class=" border-2 border-headerTxt" src="http://localhost:3000/" 
                        height="450px" width="800px" title="Iframe Example">
                    </iframe>
                  </div>                              
              </div>
              <!-- </div> -->
              <label for="carousel-3"
                class="control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:text-headerBg  leading-tight text-center z-10 inset-y-0 left-0 my-auto flex justify-center content-center"><i
                  class="fas fa-angle-left mt-3"></i></label>
              <label for="carousel-2"
                class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:text-headerBg  leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
                  class="fas fa-angle-right mt-3"></i></label>
          
              <!--Slide 2-->
                  <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                  <div class="carousel-item absolute opacity-0 text-left bg-headerBg">
                    <div class="pt-14 pl-12 pb-10"> 
                      <div>
                        <span class=" text-headerTxt font-bold">Project:</span>
                        <span class="pb-2 text-headerTxt font-semibold">
                            <!-- <span class="text-sm"><i class="fas fa-dice-one 3x"></i></span> -->
                            <a href="#" class="text-2xl font-fancy pl-2">KDrama Special</a>                                    
                        </span>
                      </div>
                      <span class=" text-headerTxt font-bold">Built with:</span>
                      <span class="inline text-headerTxt">
                          <div class="inline pl-2 text-lg">  
                              <img src="img/html5.png" alt="html icon" class="inline w-6">
                          </div>
                          <div class="inline pl-2 text-lg">  
                              <img src="img/css3.png" alt="css icon" class="inline w-6">
                          </div>
                          <div class="inline pl-2 text-lg">  
                              <img src="img/JS.png" alt="JS icon" class="inline w-6">
                          </div>
                          <div class="inline pl-2 text-lg">  
                              <img src="img/tailwindcss.png" alt="tailwindcss icon" class="inline w-6">
                          </div>
                          <div class="inline pl-2 text-lg">  
                              <img src="img/nodeJS.png" alt="nodeJS icon" class="inline w-6">
                          </div>
                          <div class="inline pl-2 text-lg">  
                            <img src="img/react.png" alt="react icon" class="inline w-6">
                          </div>
                          <div class="inline pl-2 text-lg">  
                            <img src="img/mongodb.jpg" alt="mongodb icon" class="inline w-6">
                          </div>
                      </span>
                    </div>
                    <div class="p-4 text-center flex justify-center align-top">
                      <iframe class=" border-2 border-headerTxt" src="https://en.wikipedia.org/wiki/Hometown_Cha-Cha-Cha" 
                          height="450px" width="800px" title="Iframe Example">
                      </iframe>
                    </div>                              
                </div>
              <!-- left right arrows -->
              <label for="carousel-1"
                class=" control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:text-headerBg leading-tight text-center z-10 inset-y-0 left-0 my-auto"><i
                  class="fas fa-angle-left mt-3"></i></label>
              <label for="carousel-3"
                class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:text-headerBg leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
                  class="fas fa-angle-right mt-3"></i></label>
          
              <!--Slide 3-->
              <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                  <div class="carousel-item absolute opacity-0 text-left bg-headerBg">
                    <div class="pt-14 pl-12 pb-10"> 
                      <div>
                        <span class=" text-headerTxt font-bold">Project:</span>
                        <span class="pb-2 text-headerTxt font-semibold">
                            <a href="#" class="text-2xl font-fancy pl-2">Clannad</a>                                    
                        </span>
                      </div>
                      <span class=" text-headerTxt font-bold">Built with:</span>
                      <span class="inline text-headerTxt">
                          <div class="inline pl-2 text-lg">  
                              <img src="img/html5.png" alt="html icon" class="inline w-6">
                          </div>
                          <div class="inline pl-2 text-lg">  
                              <img src="img/css3.png" alt="css icon" class="inline w-6">
                          </div>
                          <div class="inline pl-2 text-lg">  
                              <img src="img/JS.png" alt="JS icon" class="inline w-6">
                          </div>
                          <div class="inline pl-2 text-lg">  
                              <img src="img/tailwindcss.png" alt="tailwindcss icon" class="inline w-6">
                          </div>
                          <div class="inline pl-2 text-lg">  
                              <img src="img/nodeJS.png" alt="nodeJS icon" class="inline w-6">
                          </div>
                          <div class="inline pl-2 text-lg">  
                            <img src="img/react.png" alt="react icon" class="inline w-6">
                          </div>
                          <div class="inline pl-2 text-lg">  
                            <img src="img/mongodb.jpg" alt="mongodb icon" class="inline w-6">
                          </div>
                      </span>
                    </div>
                    <div class="p-4 text-center flex justify-center align-top">
                      <iframe class=" border-2 border-headerTxt" src="https://hunterxhunter.fandom.com/wiki/Hunter_%C3%97_Hunter" 
                          height="450px" width="800px" title="Iframe Example">
                      </iframe>
                    </div>                              
                </div>
              <label for="carousel-2"
                class="control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:text-headerBg leading-tight text-center z-10 inset-y-0 left-0 my-auto"><i
                  class="fas fa-angle-left mt-3"></i></label>
              <label for="carousel-1"
                class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:text-headerBg leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
                  class="fas fa-angle-right mt-3"></i></label>
          
              <!-- Add additional indicators for each slide-->
                <ol class="carousel-indicators pt-7 pb-5">
                  <li class="inline-block mr-3">
                    <label for="carousel-1"
                      class="carousel-bullet cursor-pointer block text-4xl text-cardBg2 hover:text-headerBg">•</label>
                  </li>
                  <li class="inline-block mr-3">
                    <label for="carousel-2"
                      class="carousel-bullet cursor-pointer block text-4xl text-cardBg2 hover:text-headerBg">•</label>
                  </li>
                  <li class="inline-block mr-3">
                    <label for="carousel-3"
                      class="carousel-bullet cursor-pointer block text-4xl text-cardBg2 hover:text-headerBg">•</label>
                  </li>
                </ol>
            </div> <!-- carousel inner -->
          </div> <!-- carousel relative -->
    </div> <!-- CAROUSEL CONTENT ENDS -->                
</div> <!-- Section 4 ENDS -->