<!-- Section 2 Skillset BEGINS-->
<div id="skillset" class="card mt-10"> 
    <div class="text-center pt-2 pb-3"> <!-- header -->
        <span class="text-headerBg font-bold"> SKILLSET </span>
    </div>
    <div class="grid grid-cols-4 p-4 text-center gap-2"> <!-- content -->
       <div class="text-center">
            <div class="pb-2 font-semibold">                           
                <span>Languages</span>
            </div>
            <ul class="grid grid-cols-3 border-t-2 border-headerBg">
                <li>
                    <!-- <span>HTML</span> -->
                    <div class="inline pl-2 text-lg">  
                        <img src="img/html5.png" alt="html icon" class="w-14">
                    </div>
                </li>
                <li>
                    <!-- <span>CSS</span> -->
                    <div class="inline pl-2">  
                        <img src="img/css3.png" alt="css icon" class="w-14">
                    </div>
                </li>
                <li>
                    <!-- <span>JavaScript</span> -->
                    <div class="inline pl-2">  
                        <img src="img/JS.png" alt="JS icon" class="w-14">
                    </div>
                </li>
            </ul>
       </div>
       <div class="text-center">
            <div class="font-semibold pb-2">
                <span>Frameworks</span>
            </div>
            <ul class="grid grid-cols-3 border-t-2 border-headerTxt">
                <li>
                    <div class="inline pl-2">  
                        <img src="img/bootstrap.png" alt="bootstrap icon" class="w-14">
                    </div>
                </li>
                <li>
                    <div class="inline pl-2">  
                        <img src="img/tailwindcss.png" alt="tailwind icon" class="w-14">
                    </div>
                </li>
                <li>
                    <div class="inline pl-2">  
                        <img src="img/react.png" alt="react icon" class="w-14">
                    </div>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <div class="font-semibold pb-2">
                <span>Backend</span>
            </div>
            <ul class="grid grid-cols-3  border-t-2 border-headerBg">
                <li>
                    <div class="inline pl-2">  
                        <img src="img/mongodb.jpg" alt="mongodb icon" class="w-14">
                    </div>
                </li>
                <li>
                    <!-- <span>NodeJS</span> -->
                    <div class="inline pl-2">  
                        <img src="img/nodejs.png" alt="nodeJS icon" class="w-14">
                    </div>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <div class="font-semibold pb-2">
                <span>Others</span>                            
            </div>
            <ul class="grid grid-cols-3">
                <li>
                    <div class="inline pl-2">  
                        <img src="img/git.png" alt="git icon" class="w-14">
                    </div>
                </li>
                <li>
                    <div class="inline pl-2">  
                        <img src="img/python.png" alt="python icon" class="w-14">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- Section 2 ENDS -->